{% include 'header.html' %}
<div class="formulario">
        <form method="post" action="/descargar" enctype="multipart/form-data">
            <span>
            <h3>link:</h3>
            <input type="text" name="txtLink" id="txtLink">
            </span>
            <span>
                <h4>Tipo:</h4>
                Mp4<input type="radio" name="audio" id="audio" value="Mp4">
                Mp3<input type="radio" name="audio" id="audio" value="Mp3">
                <input class="btn btn-primary" type="submit" value="Descargar">
            </span>
        </form>
</div>

