    <footer class="container p-3 my-3 bg-dark text-white fixed-bottom">
        <address>
            <p>Author: Alan Toulouse, © 2021 - Derechos reservados
                <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                <a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i></a>
            </p>
        </address>
    </footer>
    </body>
</html>