<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" media="only screen and (min-width: 1280px)" href="{{ url_for('static', filename='styles_pc.css' ) }}" type="text/css">

        <title>Youtube Downloader</title>
    </head>
    <header>
        <br>
        <div class="titulo">
            <div class="section_left">
                <img src="{{ url_for('static', filename='logo_youtube.jpg' ) }}">
            </div>
            <h1> Youtube Downloader</h1>
        </div>
    </header>

